<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Shared Timesheet</h4>
            <ul class="nav nav-pills nav-stacked">
                <li ng-click="dashboardController.menuSelection('employee') "
                    ng-class="{ 'active' : dashboardController.role == 'employee' }"><a href="#employee">Employee</a></li>

                <li ng-click="dashboardController.menuSelection('internalManager') "
                    ng-class="{ 'active' : dashboardController.role == 'internalManager' }"><a href="#internalManager">Internal
                    Manager</a></li>

                <li ng-click="dashboardController.menuSelection('externalManager') "
                    ng-class="{ 'active' : dashboardController.role == 'externalManager' }"><a href="#externalManager">External
                    Manager</a></li>
            </ul>
            <br>
        </div>

        <div class="col-sm-9">
            <div ng-if="dashboardController.role == 'employee'">
                <timesheetForm></timesheetForm>
            </div>
            <div>
                <timesheetlist role="dashboardController.role"></timesheetlist>
            </div>

        </div>
    </div>
</div>